[Desktop Entry]
Type=Application
Name=Forticlient
Icon=/opt/forticlient/peiqi.png
Exec=/opt/forticlient/forticlientsslvpn
Terminal=false
Categories=Network
